@font-face {
    font-family: 'TT Lakes';
    font-style: bold;
    font-weight: 700;
    src: url("TTLakes/TTLakesCondensed-Bold.woff") format("woff");
}
@font-face {
    font-family: 'TT Lakes';
    font-style: medium;
    font-weight: 500;
    src: url("TTLakes/TTLakes-DemiBold.woff") format("woff");
}
@font-face {
    font-family: 'TT Lakes';
    font-style: light;
    font-weight: 300;
    src: url("TTLakes/TTLakes-Light.woff") format("woff");
}
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-family: 'TT Lakes', 'TT Lakes' sans-serif;
}
@media (min-width: 1200px){
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .menu__feedback{
        margin-left: 30px;
    }
    }
@media (max-width:497px){
.header {
    margin: 0 auto;
    max-width: 320px;
    width: 100%;
    
}
.main {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}
}
@media (min-width:498px) and (max-width: 992px){
    .features {
        width: 100%;
        max-width: 790px;
        margin: 0 auto;
    }
    .header {
        max-width: 783px;
        margin: 0 auto;
        width: 100%;
     }
     .main {
        max-width: 783px;
        margin: 0 auto;
        width: 100%;
     }
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden; 
}

.button__form {
    display: flex;
    background-color: #FF3E79;
    height: 40px;
    width: 100%; 
    width: 40px;
    left: 5%;
    right: 82.5%;
    top: 4.02%;
    bottom: 89.28%;
    border-radius: 20px;
    margin: 24px 16px 24px 0;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;  
}
.button__form:first-child{
    margin-left: 16px;
}
.button--burger{
    background-image: url("images/lines.svg");
   
}
.button--logo {
    width: 96px;
    height: 50px;
    margin: 18px 16px 18px 0;
   background-image: url("images/Group.svg");
}
.button--divider{
    width: 2px;
    height: 32px;
    background-image: url("images/divider.svg");
}
.button--fixing {
    background-image: url("images/fixing.svg");
}
.button--searching {
    background-image: url("images/searching.svg");
}
.header__button {
    display: flex;
    justify-self:flex-start;
    align-items: flex-start;
}
@media (min-width: 993px){
    .header {
   display: none;
    }
}
    @media (max-width: 497px){


    .button--divider{
        margin: 28px 16px 28px 0;
    }
   
}
    @media(min-width:498px) and (max-width: 992px){
        .button--divider{
            margin: 28px 20px 28px 0;
        }
        .button--call{
            margin-left: 250px;
            background-image: url("images/phone.svg");
        }
        .button--chat{
            background-image: url("images/chat.svg");
        }
        .button--profile{
            background-image: url("images/profile.svg");
        }
        .button--divider--copy{
            width: 2px;
            height: 32px;
            background-image: url("images/divider.svg");
            margin: 28px 20px 28px 0;
        }
        .button--fixing {
            margin: 24px 16px 24px 0;
        }
         .button--searching {
            margin: 24px 24px 24px 0;
        }
        .button__form {
            max-width: 40px;
            width: 75%;
        }
    }
    @media(max-width: 497px){
        .button--call,
        .button--chat,
        .button--profile,
        .button--divider--copy {
          display: none;
        }
        }
 .main {
    background-color: #F8F8F8;
 }

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.title__name{
    color: #1B1C21;
    font-size: 28px;
    font-family: "TT Lakes", serif;
    font-weight: 600;
    width: 248px;
    height: 40px;
    line-height: 40px;
}
.title__icon{
    width: 4px;
    height: 40px;
}
@media(max-width: 497px){
    .title__icon{
        margin: 24px 12px 24px 0;
}
    .title__name{
        width: 288px;
        margin: 24px 16px 24px 0;
    }
    .menu__item{
        flex-wrap: nowrap;
    }
    .menu__devices{
        box-sizing: border-box;
        width: 264px;
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        font-size: 16px;
        height: 40px;
        text-align: left;
        padding: 6px 7px 8px 10px;
        margin: 0 19px 24px 16px;
    }
    .menu__services{
        margin: 8px 0 32px 0;
    }
    .menu__adress,
    .menu__brands,
    .menu__feedback,
    .title__request,
    .title__status,
    .title__request--button,
    .title__status--button
   {
        display: none;
    }
}

@media(min-width:498px) and (max-width: 992px){
    .title__icon{
        margin: 24px 20px 24px 0;
    }
    .title__name{
       margin: 24px 512px 24px 0;
    }
    .title__request,
    .title__status,
    .title__request--button,
    .title__status--button,
    .menu__brands,
    .menu__adress,
    .menu__feedback{
        display: none;
    }
    .menu__item{
        flex-wrap: wrap;
    }
    .menu__devices{
        width: 248px;
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        height: 40px;
        text-align: center;
        border-radius: 6px;
        font-size: 16px;
        padding: 8px 9px 8px 16px;
        margin: 0 19px 24px 16px;
    }
    .menu__services{
        height: 24px;
        width: 185px;
        margin: 10px 24px 24px 0;
    }
    .menu__prices{
        width: 128px;
        margin: 10px 25px 14px 0;
       }
       .menu__special{
        width: 148px; 
        margin: 10px 0 14px 0;
       }
    }
@media(min-width: 993px){
    .wrapper{
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    .features {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
    .header {
        max-width: 1120px;
        margin: 0 auto;
        width: 100%;
     }
     .main {
        max-width: 1120px;
        margin: 0 auto;
        width: 100%;
     }
    .button__form {
        max-width: 40px;
        width: 100%;
    }
    .title__icon{
        width: 3px;
        margin: 42px 30px 8px 0;
    }
    .title__name{
        margin: 42px 0 20px 0;
    }
    .title__request{
        width: 129px;
        height: 24px;
        margin: 50px 8px 10px 430px;
        font-weight: 300;
        color: #1B1C21;
    }
    .title__request--button{
        margin: 42px 32px 8px 0;
    }
    .title__status{
        width: 120px;
        height: 24px;
        margin: 50px 9px 15px 0;
        font-weight: 300;
    }
    .title__status--button{
        margin: 42px 32px 8px 0;
    }
    .menu__item{
        flex-wrap: wrap;
    }
    .menu__item .menu__brands{
        width: 233px;
        height: 40px;
        text-align: start;
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        padding: 8px 21px 7px 22px;
        margin: 0 19px 0 32px;
        order: -1;
    }
    .menu__devices {
        width: 219px;
        margin: 10px 34px 22px 0;
        order: 0;
    }
    .menu__prices{
        width: 118px;
        margin: 10px 27px 7px 0;
        order: 1;
       }
    .menu__adress{
        order: 2;
        width: 217px;
        height: 24px;
        margin: 10px 21px 20px 0;
    }
    .menu__item .menu__special{
        width: 148px; 
       width: 148px;
        width: 148px; 
        margin: 10px 0 14px 10px;
        overflow: scroll;
        order: 3;
       }
       .menu__services{
        display: none;
       }
       .menu__feedback{
        width: 71px;
        height: 24px;
        order: 4;
        margin: 10px 0 19px 56px;
       }

}
.menu  {
    box-sizing: border-box;
    font-family: "TT Lakes", serif;
    font-weight: 300;
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px; 
    line-height: 24px;  
    line-height: 24px; 
    list-style-type: none;
    display: flex;
}
.menu__item{
    display: flex;
}
.menu__link {
    text-decoration: none;
    color: #7E7E82;
}

.menu__services{
    font-size: 16px;
    height: 24px;
    overflow: scroll;
}
.menu__prices{
    width: 128px;
    height: 24px;
   }
   .menu__special{
    height: 24px;
      }
   
   
@media(max-width: 497px){
    .menu__prices,
    .menu__special{
        display: none;
    }
    .story__description{
        width: 288px;
        height: 90px;
        margin: 0 16px 16px 16px;
    }
    .textgroup__icon{  
        margin: 0 8px 16px 16px;
    }
    .textgroup__title{
        margin: 4px 172px 6px 0;
    }
    .image__main {
        width: 320px;
        height: 176px;
        margin-bottom: 8px;
        }
        
}
    .textgroup {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .textgroup__icon{ 
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;   
        box-sizing: border-box;
        align-self: center;
        width: 24px;
        height: 24px; 
    }
    .textgroup__title{
        font-family: "TT Lakes", serif;
        font-weight: 300;
        font-size: 16px;
        color: #1B1C21;
        width: 100px;
        height:24px;
    }
    .block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
.story__description{
    display: inline-block;
    font-family: "TT Lakes", serif;
    font-weight: 300;
    font-size: 14px;
    color: #1B1C21;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.2px;
    }
    .textgroup {
        flex-wrap: nowrap;
    }
    .story__reputation,
    .story__recommendations{
        display: none;
    }


@media(min-width:498px) and (max-width: 992px){
    .story__description{
        margin: 0 16px 0 16px;
        width: 312px;
        height: 90px;
    }
    .story__reputation{
        display: block;
        font-family: "TT Lakes", serif;
        font-weight: 300;
        font-size: 14px;
        width: 312px;
        text-align: left;
        letter-spacing: 0.2px;
        color: #1B1C21;
        line-height: 18px;
        margin: 0 16px 0 16px;
    }
    .story__recommendations{
        display: none;
    }
    .textgroup {
        flex-wrap: nowrap;
    }
    .textgroup__icon{ 
        margin: 10px 8px 54px 25px;
    }
    .textgroup__title{
        margin: 16px 227px 54px 0;
    }
    .image__main {
        width: 360px;
        height: 208px;
        margin: 0 25px 40px 0;
        border-radius: 5px;
        }
        
}
@media (min-width: 993px){
    .story{
        display: flex;
        flex-direction: column;
    }
    .story__description{
        margin: 0 36px 25px 34px;
        width: 490px;
    }
    .story__reputation{
        display: none;
    }
    .story__recommendations{
        display: inline-block;
        font-family: "TT Lakes", serif;
        font-weight: 300;
        font-size: 14px;
        color: #1B1C21;
        width: 490px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0.2px;
        margin: 0 36px 13px 34px;
    }
    .textgroup__icon{
        margin: 0 8px 0 32px;
    }
    .textgroup__title{
        margin: 8px 396px 0 0;
    }
    .image__main{
        width: 531px;
        height: 307px;
        border-radius: 5px;
        margin: 0 28px 49px 0;
    }
}

