body {
    width: 320px; 
}
@font-face {
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: 400;
    src: url("/Users/razumova/Desktop/project/TTLakes/TTLakesCondensed-Medium.woff") format("woff");
}
@font-face {
    font-family: 'TT Lakes';
    font-style: bold;
    font-weight: 700;
    src: url("/Users/razumova/Desktop/project/TTLakes/TTLakesCondensed-Bold.woff") format("woff");
}
@font-face {
    font-family: 'TT Lakes';
    font-style: medium;
    font-weight: 500;
    src: url("/Users/razumova/Desktop/project/TTLakes/TTLakes-DemiBold.woff") format("woff");
}
@font-face {
    font-family: 'TT Lakes';
    font-style: light;
    font-weight: 300;
    src: url("/Users/razumova/Desktop/project/TTLakes/TTLakes-Light.woff") format("woff");
}
.wrapper {
    width: 320px; 
    height: 509px;
}

.header {
    width: 320px; 
    height: 88px;
    display: flex;
    justify-content: flex-start;
}  


.header__menu--mv {
    width: 40px;
    height: 40px;
    margin: 24px 16px;
    
    
}
.header__group--mv {
    width: 96.55px;
    height: 52px;
    margin: 18px 16px 18px 0;
   
   
}
.header__line--mv {
    width: 2px;
    height: 32px;
    margin: 28px 16px 28px 0;
    
   
}
.header__repair--mv {
    width: 40px;
    height: 40px;
    margin: 24px 16px 24px 0;
    
}
.header__search--mv {
    width: 40px;
    height: 40px;
    margin: 24px 16px 24px 0;
    
}
.main__title {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}
.title__icon{
    width: 4px;
    height: 40px;
    margin: 24px 12px 24px 0;
}
.title__name{
   color: #1B1C21;
   font-size: 28px;
   font-family: "TT Lakes", serif;
   font-weight: 600;
   margin: 24px 16px 24px 0;
   width: 288px;
   height: 40px;
   line-height: 40px;
}
.wrapper__features {
    font-family: "TT Lakes", serif;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.features__devices {
    box-sizing: border-box;
    width: 246px;
    height: 40px;
    text-align: start;
    color: #7E7E82;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 9px 8px 16px;
    margin: 0 19px 24px 16px;
}
.features__services{
    box-sizing: border-box;
    width: 38px;
    height: 24px;
    font-size: 16px;
    color: #7E7E82;
    margin: 10px 19px 24px 0;
}
.features__services::after{
    content:"";
    width: 24px;
    height: 40px;
    background-color: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}
.block__description--1{
    display:flex;
    font-family: "TT Lakes", serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0 16px 16px 16px;
    color: #1B1C21;
    width: 288px;
    height: 90px;
    line-height: 18px;
}
.readNext{
    display: flex;
}
.readNext__title{
    font-family: "TT Lakes", serif;
    font-weight: 400;
    font-size: 16px;
    color: #1B1C21;
    margin: 16px 172px 0 16px;
    width: 100px;
    height:24px;
}
.wrapper__img {
margin-left:0;
margin-right: 0;
}