@font-face {
    font-family: 'TT Lakes';
    font-style: bold;
    font-weight: 700;
    src: url("TTLakes/TTLakesCondensed-Bold.woff") format("woff");
}
@font-face {
    font-family: 'TT Lakes';
    font-style: medium;
    font-weight: 500;
    src: url("TTLakes/TTLakes-DemiBold.woff") format("woff");
}
@font-face {
    font-family: 'TT Lakes';
    font-style: light;
    font-weight: 300;
    src: url("TTLakes/TTLakes-Light.woff") format("woff");
}
* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-family: 'TT Lakes', sans-serif;
}
@media (max-width:497px){
.header {
    margin: 0;
    max-width: 320px;
    
}
}
@media (min-width:498px) and (max-width: 992px){
    .header {
       max-width: 783px;
       margin: 0 auto;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden; 
}

.header__icon {
    display: flex;
    background-color: #FF3E79;
    width: 40px;
    height: 40px;
    left: 5%;
    right: 82.5%;
    top: 4.02%;
    bottom: 89.28%;
    border-radius: 20px;
    margin: 24px 16px 24px 0;
}
.header__icon:first-child{
    margin-left: 16px;
}

    @media (max-width: 497px){
        .header {
            width: 320px; 
            height: 88px;
            display: flex;
            justify-self:flex-start;
            align-items: flex-start;
        }
    
    .header__icon--burger{
        background-image: url("/Users/razumova/Desktop/project/project11/images/lines.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;   
    }

    .header__icon--logo {
        width: 96px;
        height: 50px;
        margin: 18px 16px 18px 0;
       background-image: url("/Users/razumova/Desktop/project/project11/images/Group.svg");
    }


    .header__icon--divider{
        width: 2px;
        height: 32px;
        margin: 28px 16px 28px 0;
        background-image: url("/Users/razumova/Desktop/project/project11/images/divider.svg");
    }
    .header__icon--fixing {
            background-image: url("/Users/razumova/Desktop/project/project11/images/fixing.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;   
        }
        .header__icon--searching {
            background-image: url("/Users/razumova/Desktop/project/project11/images/searching.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center; 
    }
}
    @media(min-width:498px) and (max-width: 992px){
        .header {
            width: 783px; 
            height: 88px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .header__icon--burger{
            background-image: url("/Users/razumova/Desktop/project/project11/images/lines.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;   
        }
    
        .header__icon--divider{
            width: 2px;
            height: 32px;
            margin: 28px 20px 28px 0;
            background-image: url("/Users/razumova/Desktop/project/project11/images/divider.svg");
        }
        .header__icon--logo {
            width: 96px;
            height: 50px;
            margin: 18px 16px 18px 0;
           background-image: url("/Users/razumova/Desktop/project/project11/images/Group.svg");
        }
        .header__icon--call{
            margin-left: 250px;
            background-image: url("/Users/razumova/Desktop/project/project11/images/phone.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center; 
        }
        .header__icon--chat{
            background-image: url("/Users/razumova/Desktop/project/project11/images/chat.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center; 
        }
        .header__icon--profile{
            background-image: url("/Users/razumova/Desktop/project/project11/images/profile.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center; 
        }
        .header__icon--divider--copy{
            width: 2px;
            height: 32px;
            background-image: url("/Users/razumova/Desktop/project/project11/images/divider.svg");
            background-size: auto;
            background-position: center; 
            margin: 28px 20px 28px 0;
        }
        .header__icon--fixing {
            margin: 24px 16px 24px 0;
            background-image: url("/Users/razumova/Desktop/project/project11/images/fixing.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;   
        }
         .header__icon--searching {
            background-image: url("/Users/razumova/Desktop/project/project11/images/searching.svg");
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center; 
        }
    }
    @media(max-width: 497px){
        .header__icon--call,
        .header__icon--chat,
        .header__icon--profile,
        .header__icon--divider--copy {
          display: none;
        }
        }
 .main {
    background-color: #F8F8F8;
 }

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
@media(max-width: 497px){
.title__icon{
    margin: 24px 12px 24px 0;
}
.title__name{
   color: #1B1C21;
   font-size: 28px;
   font-family: "TT Lakes", serif;
   font-weight: 600;
   width: 288px;
   height: 40px;
   line-height: 40px;
   margin: 24px 16px 24px 0;
}
}
@media(min-width:498px) and (max-width: 992px){
    .title__icon{
        margin: 24px 20px 24px 0;
    }
    .title__name{
       color: #1B1C21;
       font-size: 28px;
       font-family: "TT Lakes", serif;
       font-weight: 600;
       width: 233px;
       height: 40px;
       line-height: 40px;
       margin: 24px 512px 24px 0;
    }
    }
.main__features {
    box-sizing: border-box;
    font-family: "TT Lakes", serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.features__devices {
    width: 246px;
    height: 40px;
    text-align: start;
    color: #7E7E82;
    background-color: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 9px 8px 16px;
    margin: 0 19px 24px 16px;
}
.features__services{
    width: 185px;
    height: 24px;
    font-size: 16px;
    color: #7E7E82;
    margin: 10px 24px 24px 0;
    overflow: scroll;
}
.features__prices{
    width: 128px;
    height: 24px;
    font-size: 16px;
    color: #7E7E82;
    line-height: 24px;  
    margin: 6px 25px 14px 0;
   }
   .features__special{
       width: 148px;
       height: 24px;
       font-size: 16px;
       color: #7E7E82;
       line-height: 24px;  
       margin: 6px 0 14px 0;
       overflow: scroll;
      }
   
   
@media(max-width: 497px){
    .features__prices,
    .features__special{
        display: none;
    }
}
@media(max-width: 497px){
.story__description{
    display: inline-block;
    font-family: "TT Lakes", serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0 16px 16px 16px;
    color: #1B1C21;
    width: 288px;
    height: 90px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.2px;
    }
    .textgroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    .textgroup__icon{  
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;   
        box-sizing: border-box;
        align-self: center;
        width: 24px;
        height: 24px;
        margin: 0 8px 16px 16px;
    }
    .textgroup__title{
        font-family: "TT Lakes", serif;
        font-weight: 300;
        font-size: 16px;
        color: #1B1C21;
        margin: 4px 172px 6px 0;
        width: 100px;
        height:24px;
        padding-top: 1px;
    }
    .story__reputation{
        display: none;
    }
    .image__main {
        width: 320px;
        height: 176px;
        margin-left:0;
        margin-right: 0;
        margin-top: 16px;
        margin-bottom: 8px;
        }
        
}

@media(min-width:498px) and (max-width: 992px){
    .story__description{
        display: inline-block;
        font-family: "TT Lakes", serif;
        font-weight: 300;
        font-size: 14px;
        margin: 0 16px 0 16px;
        color: #1B1C21;
        width: 312px;
        height: 90px;
        line-height: 18px;
        text-align: left;
        letter-spacing: 0.2px;
    }
    .story__reputation{
        display: block;
        font-family: "TT Lakes", serif;
        font-weight: 300;
        font-size: 14px;
        width: 312px;
        text-align: left;
        letter-spacing: 0.2px;
        color: #1B1C21;
        line-height: 18px;
        margin: 0 16px 0 16px;
    }
    .textgroup {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    .textgroup__icon{ 
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;   
        box-sizing: border-box;
        align-self: center;
        width: 24px;
        height: 24px; 
        margin: 10px 8px 54px 25px;
    }
    .textgroup__title{
        font-family: "TT Lakes", serif;
        font-weight: 300;
        font-size: 16px;
        color: #1B1C21;
        margin: 16px 227px 54px 0;
        width: 100px;
        height:24px;
    }
    .block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .image__main {
        width: 360px;
        height: 208px;
        margin-left:0;
        margin-right: 0;
        margin: 0 25px 40px 0;
        border-radius: 5px;
        }
        
}


